@import url("https://fonts.cdnfonts.com/css/andalucia-2");
@import url("https://fonts.cdnfonts.com/css/simple-handmade");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "National First Font", sans-serif;
}

h1 {
  padding-top: 1.5rem;
  font-size: 4rem;
  font-family: "Comming", sans-serif;
}

img {
  width: 200px;
}

a {
  text-decoration: none;
  font-family: "National First Font", sans-serif;
}

h2 {
  color: rgb(206, 155, 193);
  padding-top: 1.5rem;
  font-size: 4rem;
  font-family: "Comming", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
}
.header .compras-contacto h5 {
  color: rgba(121, 114, 114, 0.74);
  background-color: rgba(208, 137, 155, 0.23);
  padding-block: 1rem;
  text-align: center;
}
.header .center-menu-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header .center-menu-section .redes {
  padding: 1rem;
}
.header .center-menu-section .redes a {
  margin: 10px;
}
.header .center-menu-section .redes img {
  width: 20px;
}
.header .center-menu-section .redes img:hover {
  transition: 0.5s;
  border-radius: 2px;
  transform: scale(1.1);
  transform: translateY(-5px);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  background-color: rgb(206, 155, 193);
  transition: 0.5s;
}
.header .center-menu-section .logo img {
  border-radius: 50%;
}
.header .center-menu-section .buscador {
  padding: 1rem;
}
.header .center-menu-section .buscador img {
  width: 20px;
}
.header .center-menu-section .buscador img:hover {
  transition: 0.5s;
  border-radius: 2px;
  transform: scale(1.1);
  background-color: #e5e5e5;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
}
.header .center-menu-section .buscador a:hover {
  background-color: #e5e5e5;
  transition: 0.5s;
}

.menu {
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 1;
}
.menu .menu-lista {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
.menu .menu-lista li {
  padding: 1rem;
}
.menu .menu-lista a {
  font-size: 1.5rem;
  padding-block: 1rem;
  padding-inline: 0.2rem;
  color: rgb(168, 168, 168);
  border-radius: 5px;
}
.menu .menu-lista a:hover {
  background-color: #e5e5e5;
  transition: 0.5s;
  color: #385d47;
}

.main-index {
  display: flex;
  flex-direction: column;
}
.main-index h2 {
  align-self: center;
}
.main-index .fotografia-index {
  display: none;
  width: 70%;
  align-self: center;
  margin-bottom: 3rem;
}
.main-index .fotografia-index img {
  width: 100%;
}
.main-index #carouselExampleIndicators {
  align-self: center;
  width: 100%;
  padding-inline: 5rem;
}
.main-index #carouselExampleIndicators .carousel-control-prev {
  z-index: 0;
}
.main-index #carouselExampleIndicators .carousel-control-next {
  z-index: 0;
}
.main-index #carouselExampleIndicators .carousel-inner .carousel-item img {
  height: 40rem;
  border-radius: 20px;
}
.main-index .info-index {
  display: flex;
  flex-direction: column;
}
.main-index .info-index h2 {
  align-self: center;
}
.main-index .info-index p {
  display: inline-block;
  align-self: center;
  width: 50%;
  font-size: larger;
}
.main-index .cards {
  display: flex;
  flex-direction: column;
}
.main-index .cards a:hover {
  color: rgb(124, 174, 124);
  transition: 0.5s;
  background-color: brown;
}

.main-section {
  display: flex;
  flex-direction: column;
}
.main-section h2 {
  align-self: center;
}
.main-section .section-presentacion {
  padding-inline: 25rem;
  display: flex;
  flex-direction: column;
}
.main-section .section-presentacion img {
  border-radius: 2rem;
  width: 100%;
}
.main-section .section-presentacion p {
  padding-top: 3rem;
  font-size: 1.5rem;
  color: rgb(206, 155, 193);
}
.main-section .buscador-section {
  padding-inline: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-section .buscador-section h4 {
  font-size: 2rem;
}
.main-section .buscador-section form {
  display: flex;
  font-size: 2rem;
  line-height: 4rem;
}
.main-section .buscador-section form label {
  font-size: 1.5rem;
  font-weight: 400;
  color: #777777;
}
.main-section .buscador-section form select {
  color: rgb(124, 174, 124);
  font-weight: 200;
  border-width: 1px 1px 3px 1px;
  border-style: solid;
  border-color: #ddd;
  border-radius: 2px;
  box-shadow: none;
  background-color: #fff;
  width: 20rem;
  padding: 0.3rem;
}
.main-section .buscador-section form select:focus {
  border-color: rgb(206, 155, 193);
  border-width: 1px 1px 3px 1px;
  box-shadow: none;
}
.main-section .buscador-section form select:focus-visible {
  outline: none;
  border-radius: 3px;
}

.main-contacto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main-contacto .info-contacto {
  display: flex;
  justify-content: space-around;
  border-top: solid rgb(75, 75, 75) 1px;
  border-bottom: solid rgb(75, 75, 75) 1px;
  padding-inline: 4rem;
  padding-block: 2rem;
  gap: 2rem;
}
.main-contacto .info-contacto .contacto-cuadrito {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: solid rgb(206, 155, 193) 1px;
  padding: 1rem;
}
.main-contacto .info-contacto .contacto-cuadrito img {
  width: 1.5rem;
  margin: 0.5rem;
}
.main-contacto .info-contacto .contacto-cuadrito p {
  font-weight: 500;
}
.main-contacto .info-contacto .contacto-cuadrito span {
  color: rgb(206, 155, 193);
}
.main-contacto .contacto-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  align-self: center;
  align-items: center;
  padding: 2rem;
}
.main-contacto .contacto-form label {
  font-size: 1.5rem;
  font-weight: 400;
  color: #777777;
}
.main-contacto .contacto-form label input {
  color: rgb(124, 174, 124);
  font-weight: 200;
  border-width: 1px 1px 3px 1px;
  border-style: solid;
  border-color: #ddd;
  border-radius: 2px;
  box-shadow: none;
  background-color: #fff;
  width: 20rem;
  padding: 0.3rem;
}
.main-contacto .contacto-form label input:focus {
  border-color: rgb(206, 155, 193);
  border-width: 1px 1px 3px 1px;
  box-shadow: none;
}
.main-contacto .contacto-form label input:focus-visible {
  outline: none;
  border-radius: 3px;
}
.main-contacto .comentario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.main-contacto .comentario .comentar {
  color: rgb(124, 174, 124);
  padding: 0.2rem;
  font-weight: 200;
  border-width: 1px 1px 3px 1px;
  border-style: solid;
  border-color: #ddd;
  border-radius: 2px;
  box-shadow: none;
  background-color: #fff;
  margin-bottom: 2rem;
}
.main-contacto .comentario .comentar:focus {
  border-color: rgb(206, 155, 193);
  border-width: 1px 1px 3px 1px;
  box-shadow: none;
}
.main-contacto .comentario .comentar:focus-visible {
  outline: none;
  border-radius: 3px;
}
.main-contacto .comentario button {
  color: rgb(206, 155, 193);
  background-color: rgb(71, 117, 71);
}
.main-contacto .comentario button:hover {
  color: rgb(71, 117, 71);
  transition: 0.5s;
  background-color: rgb(206, 155, 193);
}
.main-contacto button {
  font-size: 1.5rem;
  align-self: center;
  color: white;
  background-color: #68c4a1;
  padding-block: 0.5rem;
  padding-inline: 2rem;
  border-radius: 5px;
}
.main-contacto button:hover {
  color: rgb(124, 174, 124);
  transition: 0.5s;
  background-color: brown;
}

.pie-de-pagina {
  display: flex;
  flex-direction: column;
}
.pie-de-pagina .datos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 5rem;
  line-height: 1.5rem;
}
.pie-de-pagina .datos a {
  color: black;
}
.pie-de-pagina .datos a:hover {
  color: rgb(124, 174, 124);
  transition: 0.5s;
}
.pie-de-pagina .datos .sobre-nosotros {
  display: flex;
  flex-direction: column;
  margin-inline: 1rem;
}
.pie-de-pagina .datos .sobre-nosotros h5 {
  border-bottom: darkgrey solid 0.5px;
  padding: 1rem;
  margin-bottom: 1rem;
}
.pie-de-pagina .datos .contacto {
  display: flex;
  flex-direction: column;
  margin-inline: 1rem;
}
.pie-de-pagina .datos .contacto h5 {
  border-bottom: darkgrey solid 0.5px;
  padding: 1rem;
  margin-bottom: 1rem;
}
.pie-de-pagina .datos .siguenos {
  display: flex;
  flex-direction: column;
  margin-inline: 1rem;
}
.pie-de-pagina .datos .siguenos h5 {
  border-bottom: darkgrey solid 0.5px;
  padding: 1rem;
  margin-bottom: 1rem;
}
.pie-de-pagina .datos .siguenos .siguenos-redes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.pie-de-pagina .datos .siguenos .siguenos-redes img {
  width: 20px;
}
.pie-de-pagina .datos .siguenos .siguenos-redes img:hover {
  background-color: rgb(124, 174, 124);
  transition: 0.5s;
  border-radius: 2px;
  transform: scale(1.1);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
}
.pie-de-pagina .datos .menu-pie {
  display: flex;
  flex-direction: column;
  margin-inline: 1rem;
}
.pie-de-pagina .datos .menu-pie h5 {
  border-bottom: darkgrey solid 0.5px;
  padding: 1rem;
  margin-bottom: 1rem;
}
.pie-de-pagina .pie-final {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-top: darkgrey solid 0.5px;
}
.pie-de-pagina .pie-final img {
  width: 7rem;
}

.productos-destacados-index {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 6, 1fr;
  padding-inline: 5rem;
  gap: 1rem;
}
.productos-destacados-index a {
  color: black;
}
.productos-destacados-index a:hover {
  color: rgb(124, 174, 124);
  transition: 0.5s;
  background-color: brown;
}
.productos-destacados-index h2 {
  align-self: center;
}
.productos-destacados-index .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 20rem;
  border: solid rgb(158, 128, 152) 0.5px;
}
.productos-destacados-index .card:hover {
  transition: 0.5s;
  transform: scale(1.02);
  transform: translateY(-5px);
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
}
.productos-destacados-index .card img {
  width: 18rem;
  height: 18rem;
  border-radius: 5px;
}
.productos-destacados-index .card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  line-height: 1.5rem;
}
.productos-destacados-index .card .card-body a:hover {
  border-radius: 5px;
  background-color: #e5e5e5;
  transition: 0.5s;
  color: #385d47;
}
.productos-destacados-index .card .card-body .btn-comprar {
  color: white;
  background-color: #68c4a1;
  padding: 0.5rem;
  border-radius: 5px;
}
.productos-destacados-index .card .card-body .btn-comprar:hover {
  color: rgb(124, 174, 124);
  transition: 0.5s;
  background-color: brown;
}

.ver-seccion {
  color: white;
  background-color: #68c4a1;
  padding: 0.5rem;
  border-radius: 5px;
  align-self: center;
}

.section-card {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 6, 1fr;
  gap: 1rem;
}
.section-card a {
  color: black;
}
.section-card a:hover {
  color: rgb(124, 174, 124);
  transition: 0.5s;
  background-color: brown;
}
.section-card h2 {
  align-self: center;
}
.section-card .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  width: 20rem;
  border: solid rgb(158, 128, 152) 0.5px;
}
.section-card .card:hover {
  transition: 0.5s;
  transform: scale(1.02);
  transform: translateY(-5px);
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
}
.section-card .card img {
  width: 18rem;
  height: 18rem;
  border-radius: 5px;
}
.section-card .card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  line-height: 1.5rem;
}
.section-card .card .card-body a:hover {
  border-radius: 5px;
  background-color: #e5e5e5;
  transition: 0.5s;
  color: #385d47;
}
.section-card .card .card-body .btn-comprar {
  color: white;
  background-color: #68c4a1;
  padding: 0.5rem;
  border-radius: 5px;
}
.section-card .card .card-body .btn-comprar:hover {
  color: rgb(124, 174, 124);
  transition: 0.5s;
  background-color: brown;
}/*# sourceMappingURL=estilo.css.map */