@import url("https://fonts.cdnfonts.com/css/andalucia-2");
@import url("https://fonts.cdnfonts.com/css/simple-handmade");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "National First Font", sans-serif;
}

h1 {
  padding-top: 1.5rem;
  font-size: 4rem;
  font-family: "Comming", sans-serif;
}

img {
  width: 200px;
}

a {
  text-decoration: none;
  font-family: "National First Font", sans-serif;
}

h2 {
  color: rgb(206, 155, 193);
  padding-top: 1.5rem;
  font-size: 4rem;
  font-family: "Comming", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
}
.header .compras-contacto h5 {
  color: rgba(121, 114, 114, 0.74);
  background-color: rgba(208, 137, 155, 0.23);
  padding-block: 1rem;
  text-align: center;
}
.header .center-menu-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.header .center-menu-section .redes {
  padding: 1rem;
}
.header .center-menu-section .redes a {
  margin: 10px;
}
.header .center-menu-section .redes img {
  width: 20px;
}
.header .center-menu-section .redes img:hover {
  transition: 0.5s;
  border-radius: 2px;
  transform: scale(1.1);
  transform: translateY(-5px);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  background-color: rgb(206, 155, 193);
  transition: 0.5s;
}
.header .center-menu-section .logo img {
  border-radius: 50%;
}
.header .center-menu-section .buscador {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .center-menu-section .buscador .barra-buscar {
  display: flex;
}
.header .center-menu-section .buscador .barra-buscar .buscar {
  border-radius: 4px;
  border: none;
  padding: 0.2rem;
}
.header .center-menu-section .buscador .barra-buscar .buscar:hover {
  transition: 0.5s;
  border-radius: 2px;
  transform: scale(1.1);
  transform: translateY(-5px);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}
.header .center-menu-section .buscador .barra-buscar .buscar img {
  width: 20px;
}
.header .center-menu-section .buscador .barra-buscar input {
  width: 100%;
  color: rgb(124, 174, 124);
  font-weight: 200;
  border-width: 1px 1px 3px 1px;
  border-style: solid;
  border-color: #ddd;
  border-radius: 2px;
  box-shadow: none;
  background-color: #fff;
  padding: 0.3rem;
}
.header .center-menu-section .buscador .barra-buscar input:focus {
  border-color: rgb(206, 155, 193);
  border-width: 1px 1px 3px 1px;
  box-shadow: none;
}
.header .center-menu-section .buscador .barra-buscar input:focus-visible {
  outline: none;
  border-radius: 3px;
}
.header .center-menu-section .buscador .buscador-opciones {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 998;
  top: 12rem;
}
.header .center-menu-section .buscador .buscador-opciones h5 {
  font-weight: 500;
}
.header .center-menu-section .buscador .buscador-opciones option {
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  border: solid 0.5px #a7a7a7;
  border-radius: 2px;
  position: relative;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  cursor: pointer;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header .center-menu-section .buscador .buscador-opciones option:hover {
  color: rgb(124, 174, 124);
}

.menu {
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 1;
}
.menu .menu-lista {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0rem;
}
.menu .menu-lista li {
  padding: 1rem;
}
.menu .menu-lista a {
  font-size: 1.5rem;
  padding-block: 1rem;
  padding-inline: 0.2rem;
  color: rgb(168, 168, 168);
  border-radius: 5px;
}
.menu .menu-lista a:hover {
  background-color: #e5e5e5;
  transition: 0.5s;
  color: #385d47;
}

.main-index {
  display: flex;
  flex-direction: column;
}
.main-index h2 {
  align-self: center;
}
.main-index .fotografia-index {
  display: none;
  width: 70%;
  align-self: center;
  margin-bottom: 3rem;
}
.main-index .fotografia-index img {
  width: 100%;
}
.main-index #carouselExampleIndicators {
  align-self: center;
  width: 100%;
  padding-inline: 5rem;
}
.main-index #carouselExampleIndicators .carousel-control-prev {
  z-index: 0;
}
.main-index #carouselExampleIndicators .carousel-control-next {
  z-index: 0;
}
.main-index #carouselExampleIndicators .carousel-inner .carousel-item img {
  height: 40rem;
  border-radius: 20px;
}
.main-index .info-index {
  display: flex;
  flex-direction: column;
}
.main-index .info-index h2 {
  align-self: center;
}
.main-index .info-index p {
  display: inline-block;
  align-self: center;
  width: 50%;
  font-size: larger;
}
.main-index .cards {
  display: flex;
  flex-direction: column;
}
.main-index .cards a:hover {
  color: #385d47;
  transition: 0.5s;
  background-color: rgb(206, 155, 193);
}

.main-section {
  display: flex;
  flex-direction: column;
  padding-inline: 2rem;
}
.main-section h2 {
  align-self: center;
}
.main-section .section-presentacion {
  padding-inline: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-section .section-presentacion img {
  border-radius: 2rem;
  width: 150%;
  border: rgb(206, 155, 193) solid 1px;
}
.main-section .section-presentacion p {
  padding-top: 3rem;
  font-size: 1.5rem;
  color: rgb(206, 155, 193);
}
.main-section .buscador-section {
  padding-inline: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.main-section .buscador-section h4 {
  font-size: 2rem;
}
.main-section .buscador-section form {
  display: flex;
  font-size: 2rem;
  line-height: 4rem;
}
.main-section .buscador-section form label {
  font-size: 1.5rem;
  font-weight: 400;
  color: #777777;
}
.main-section .buscador-section form select {
  color: rgb(124, 174, 124);
  font-weight: 200;
  border-width: 1px 1px 3px 1px;
  border-style: solid;
  border-color: #ddd;
  border-radius: 2px;
  box-shadow: none;
  background-color: #fff;
  width: 20rem;
  padding: 0.3rem;
}
.main-section .buscador-section form select:focus {
  border-color: rgb(206, 155, 193);
  border-width: 1px 1px 3px 1px;
  box-shadow: none;
}
.main-section .buscador-section form select:focus-visible {
  outline: none;
  border-radius: 3px;
}

.main-contacto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main-contacto .info-contacto {
  display: flex;
  justify-content: space-around;
  border-top: solid rgb(75, 75, 75) 1px;
  border-bottom: solid rgb(75, 75, 75) 1px;
  padding-inline: 4rem;
  padding-block: 2rem;
  gap: 2rem;
}
.main-contacto .info-contacto .contacto-cuadrito {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: solid rgb(206, 155, 193) 1px;
  padding: 1rem;
}
.main-contacto .info-contacto .contacto-cuadrito img {
  width: 1.5rem;
  margin: 0.5rem;
}
.main-contacto .info-contacto .contacto-cuadrito p {
  font-weight: 500;
}
.main-contacto .info-contacto .contacto-cuadrito span {
  color: rgb(206, 155, 193);
}
.main-contacto .contacto-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  align-self: center;
  align-items: center;
  padding: 2rem;
}
.main-contacto .contacto-form label {
  font-size: 1.5rem;
  font-weight: 400;
  color: #777777;
}
.main-contacto .contacto-form label input {
  color: rgb(124, 174, 124);
  font-weight: 200;
  border-width: 1px 1px 3px 1px;
  border-style: solid;
  border-color: #ddd;
  border-radius: 2px;
  box-shadow: none;
  background-color: #fff;
  width: 20rem;
  padding: 0.3rem;
}
.main-contacto .contacto-form label input:focus {
  border-color: rgb(206, 155, 193);
  border-width: 1px 1px 3px 1px;
  box-shadow: none;
}
.main-contacto .contacto-form label input:focus-visible {
  outline: none;
  border-radius: 3px;
}
.main-contacto .comentario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.main-contacto .comentario .comentar {
  color: rgb(124, 174, 124);
  padding: 0.2rem;
  font-weight: 200;
  border-width: 1px 1px 3px 1px;
  border-style: solid;
  border-color: #ddd;
  border-radius: 2px;
  box-shadow: none;
  background-color: #fff;
  margin-bottom: 2rem;
}
.main-contacto .comentario .comentar:focus {
  border-color: rgb(206, 155, 193);
  border-width: 1px 1px 3px 1px;
  box-shadow: none;
}
.main-contacto .comentario .comentar:focus-visible {
  outline: none;
  border-radius: 3px;
}
.main-contacto .comentario button {
  color: rgb(206, 155, 193);
  background-color: rgb(71, 117, 71);
}
.main-contacto .comentario button:hover {
  color: rgb(71, 117, 71);
  transition: 0.5s;
  background-color: rgb(206, 155, 193);
}
.main-contacto button {
  font-size: 1.5rem;
  align-self: center;
  color: white;
  background-color: #68c4a1;
  padding-block: 0.5rem;
  padding-inline: 2rem;
  border-radius: 5px;
}
.main-contacto button:hover {
  color: rgb(124, 174, 124);
  transition: 0.5s;
  background-color: brown;
}

.btn-volver {
  font-size: 1.5rem;
  align-self: center;
  color: white;
  background-color: #68c4a1;
  padding-block: 0.5rem;
  padding-inline: 2rem;
  border-radius: 5px;
}
.btn-volver:hover {
  color: #385d47;
  transition: 0.5s;
  background-color: rgb(206, 155, 193);
  border: solid #385d47 2px;
}

.related-prods {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.related-prods .related-prod-sctn {
  display: grid;
  align-self: flex-start;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-inline: 2rem;
  width: 75%;
  gap: 0rem;
  justify-items: center;
  align-items: center;
}
.related-prods .related-prod-sctn .card-related {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  align-items: center;
  width: 15rem;
  padding: 1rem;
}
.related-prods .related-prod-sctn .card-related:hover {
  transition: 0.5s;
  transform: scale(1.02);
  transform: translateY(-5px);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
}
.related-prods .related-prod-sctn .card-related img {
  width: 12rem;
  height: 10rem;
  border-radius: 5px;
}
.related-prods .related-prod-sctn .card-related .related-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.related-prods .related-prod-sctn .card-related .related-info h3 {
  font-weight: 600;
  color: rgb(206, 155, 193);
}
.related-prods .related-prod-sctn .card-related .related-info h5 {
  color: rgb(124, 174, 124);
}
.producto-section {
  display: flex;
  flex-direction: column;
  padding: 0rem;
  margin: 2rem;
  border: solid violet 1px;
  border-radius: 2rem;
  width: 90vw;
  align-self: center;
}
.producto-section .producto-tit {
  background-color: #e7e7e7;
  padding-block: 0.5rem;
  padding-inline: 2rem;
  margin: 0rem;
  font-size: 3rem;
  line-height: 3rem;
  border-radius: 2rem 2rem 0rem 0rem;
}
.producto-section .dir-producto {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  color: #999999;
  font-weight: 900;
  padding-inline: 3rem;
  padding-block: 0.5rem;
}
.producto-section .dir-producto a {
  font-size: 1rem;
  padding: 0rem;
  color: rgb(168, 168, 168);
  border-radius: 5px;
}
.producto-section .dir-producto a:hover {
  transition: 0.5s;
  color: #385d47;
}
.producto-section .mostrador-producto {
  padding-bottom: 1rem;
  display: flex;
  padding-inline: 3rem;
  justify-content: space-evenly;
}
.producto-section .mostrador-producto img {
  padding: 0.2rem;
  width: 30rem;
  border: solid #999999 1px;
}
.producto-section .mostrador-producto .prod-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 2rem;
}
.producto-section .mostrador-producto .prod-detail .producto-intro {
  width: 100%;
}
.producto-section .mostrador-producto .prod-detail .producto-intro .intro-nombre {
  width: 100%;
  color: rgb(237, 133, 227);
  margin: 0;
  border-bottom: solid rgb(237, 133, 227) 2px;
  font-size: 2rem;
}
.producto-section .mostrador-producto .prod-detail .producto-intro .prod-form {
  display: flex;
  flex-direction: column;
}
.producto-section .mostrador-producto .prod-detail .producto-intro .prod-form .prod-form-in {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.producto-section .mostrador-producto .prod-detail .producto-intro .prod-form .prod-form-in label {
  font-size: 1.5rem;
}
.producto-section .mostrador-producto .prod-detail .producto-intro .prod-form .prod-form-in select {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
  border-radius: 5px;
  color: rgb(124, 174, 124);
  border-width: 1px 1px 3px 1px;
  box-shadow: none;
  background-color: #fff;
}
.producto-section .mostrador-producto .prod-detail .producto-intro .prod-form .prod-form-in select:focus {
  border-color: rgb(206, 155, 193);
  border-width: 1px 1px 3px 1px;
  box-shadow: none;
}
.producto-section .mostrador-producto .prod-detail .producto-intro .prod-form .prod-form-in select:focus-visible {
  outline: none;
  border-radius: 3px;
}
.producto-section .mostrador-producto .prod-detail .producto-intro .prod-form .prod-form-in input {
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 5px;
  border-style: solid;
  width: 100%;
  color: rgb(124, 174, 124);
  border-width: 1px 1px 3px 1px;
  box-shadow: none;
  background-color: #fff;
}
.producto-section .mostrador-producto .prod-detail .producto-intro .prod-form .prod-form-in input:focus {
  border-color: rgb(206, 155, 193);
  border-width: 1px 1px 3px 1px;
  box-shadow: none;
}
.producto-section .mostrador-producto .prod-detail .producto-intro .prod-form .prod-form-in input:focus-visible {
  outline: none;
  border-radius: 3px;
}
.producto-section .mostrador-producto .prod-detail .producto-intro .prod-total-price {
  color: rgb(124, 174, 124);
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 0.2rem;
  width: 100%;
}
.producto-section .mostrador-producto .prod-detail .producto-intro .prod-total-price h4 {
  font-size: 1.8rem;
  color: rgb(124, 174, 124);
  font-weight: 900;
  margin: 0;
}
.producto-section .mostrador-producto .prod-detail .producto-intro .prod-total-price h4 span {
  font-size: 0.8rem;
}
.producto-section .mostrador-producto .prod-detail .producto-intro .prod-total-price P {
  font-size: 1rem;
  margin: 0;
  letter-spacing: 2px;
  font-weight: 600;
  color: #777777;
}
.producto-section .mostrador-producto .prod-detail .producto-intro .contacto-producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.2rem;
  gap: 3px;
}
.producto-section .mostrador-producto .prod-detail .producto-intro .contacto-producto h4 {
  font-family: "Comming", sans-serif;
  font-size: 3rem;
  margin: 0;
}
.producto-section .mostrador-producto .prod-detail .producto-intro .contacto-producto button {
  border: 2px black;
  font-size: 1rem;
  align-self: center;
  color: white;
  background-color: #68c4a1;
  padding-block: 0.3rem;
  padding-inline: 1rem;
  border-radius: 5px;
}
.producto-section .mostrador-producto .prod-detail .producto-intro .contacto-producto button:hover {
  color: rgb(33, 82, 33);
  transition: 0.5s;
  background-color: rgb(237, 133, 227);
}
.producto-section .mostrador-producto .prod-detail .info-producto {
  display: flex;
  flex-direction: column;
}
.producto-section .mostrador-producto .prod-detail .info-producto h5 {
  font-weight: 700;
  font-size: 2rem;
  color: rgb(237, 133, 227);
  margin: 0;
}
.producto-section .mostrador-producto .prod-detail .info-producto h4 {
  margin: 0;
}
.producto-section .mostrador-producto .prod-detail .info-producto p {
  margin: 0;
}
.producto-section .mostrador-producto .prod-detail .info-producto li {
  margin: 0;
}

.pie-de-pagina {
  display: flex;
  flex-direction: column;
}
.pie-de-pagina .datos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 5rem;
  line-height: 1.5rem;
}
.pie-de-pagina .datos a {
  color: black;
}
.pie-de-pagina .datos a:hover {
  color: rgb(124, 174, 124);
  transition: 0.5s;
}
.pie-de-pagina .datos .sobre-nosotros {
  display: flex;
  flex-direction: column;
  margin-inline: 1rem;
}
.pie-de-pagina .datos .sobre-nosotros h5 {
  border-bottom: darkgrey solid 0.5px;
  padding: 1rem;
  margin-bottom: 1rem;
}
.pie-de-pagina .datos .contacto {
  display: flex;
  flex-direction: column;
  margin-inline: 1rem;
}
.pie-de-pagina .datos .contacto h5 {
  border-bottom: darkgrey solid 0.5px;
  padding: 1rem;
  margin-bottom: 1rem;
}
.pie-de-pagina .datos .siguenos {
  display: flex;
  flex-direction: column;
  margin-inline: 1rem;
}
.pie-de-pagina .datos .siguenos h5 {
  border-bottom: darkgrey solid 0.5px;
  padding: 1rem;
  margin-bottom: 1rem;
}
.pie-de-pagina .datos .siguenos .siguenos-redes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.pie-de-pagina .datos .siguenos .siguenos-redes img {
  width: 20px;
}
.pie-de-pagina .datos .siguenos .siguenos-redes img:hover {
  background-color: rgb(124, 174, 124);
  transition: 0.5s;
  border-radius: 2px;
  transform: scale(1.1);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
}
.pie-de-pagina .datos .menu-pie {
  display: flex;
  flex-direction: column;
  margin-inline: 1rem;
}
.pie-de-pagina .datos .menu-pie h5 {
  border-bottom: darkgrey solid 0.5px;
  padding: 1rem;
  margin-bottom: 1rem;
}
.pie-de-pagina .pie-final {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-top: darkgrey solid 0.5px;
}
.pie-de-pagina .pie-final img {
  width: 7rem;
}

.productos-destacados-index {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 6, 1fr;
  padding-inline: 5rem;
  gap: 1rem;
}
.productos-destacados-index a {
  color: black;
}
.productos-destacados-index a:hover {
  color: rgb(124, 174, 124);
  transition: 0.5s;
  background-color: rgb(206, 155, 193);
}
.productos-destacados-index h2 {
  align-self: center;
}
.productos-destacados-index .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 0px;
  width: 20rem;
  cursor: pointer;
}
.productos-destacados-index .card:hover {
  transition: 0.5s;
  transform: scale(1.02);
  transform: translateY(-5px);
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
}
.productos-destacados-index .card img {
  width: 18rem;
  height: 18rem;
  border-radius: 5px;
}
.productos-destacados-index .card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  line-height: 1.5rem;
}
.productos-destacados-index .card .card-body a:hover {
  border-radius: 5px;
  background-color: #e5e5e5;
  transition: 0.5s;
  color: #385d47;
}
.productos-destacados-index .card .card-body .btn-comprar {
  color: white;
  background-color: #68c4a1;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}
.productos-destacados-index .card .card-body .btn-comprar:hover {
  transition: 0.5s;
  color: #385d47;
  border: solid #385d47 2px;
  background-color: rgb(206, 155, 193);
  font-weight: bold;
}

.ver-seccion {
  color: white;
  background-color: #68c4a1;
  padding: 0.5rem;
  border-radius: 5px;
  align-self: center;
}
.ver-seccion:hover {
  background-color: rgb(206, 155, 193);
  color: #385d47;
}

.section-card {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 6, 1fr;
  gap: 0.5rem;
}
.section-card a {
  color: black;
}
.section-card a:hover {
  color: rgb(124, 174, 124);
  transition: 0.5s;
  background-color: rgb(206, 155, 193);
}
.section-card h2 {
  align-self: center;
}
.section-card .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-block: 1rem;
  width: 20rem;
  border: 0px;
}
.section-card .card:hover {
  transition: 0.5s;
  transform: scale(1.02);
  transform: translateY(-5px);
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
}
.section-card .card img {
  width: 18rem;
  height: 18rem;
  border-radius: 5px;
}
.section-card .card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  line-height: 1.5rem;
}
.section-card .card .card-body a:hover {
  border-radius: 5px;
  background-color: #e5e5e5;
  transition: 0.5s;
  color: #385d47;
}
.section-card .card .card-body .btn-comprar {
  color: white;
  background-color: #68c4a1;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}
.section-card .card .card-body .btn-comprar:hover {
  transition: 0.5s;
  color: #385d47;
  border: solid #385d47 2px;
  background-color: rgb(206, 155, 193);
  font-weight: bold;
}/*# sourceMappingURL=estilo.css.map */