.header {
    display: flex;
    flex-direction: column;

    .compras-contacto {

        h5 {
            color: rgba(121, 114, 114, 0.74);
            background-color: rgba(208, 137, 155, 0.23);
            padding-block: 1rem;
            text-align: center;
        }
    }

    .center-menu-section {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .redes {
            padding: 1rem;

            a {
                margin: 10px;
                


            }

            

            img {
                width: 20px;
                &:hover{transition: 0.5s;
                    border-radius: 2px;
                    transform: scale(1.1);
                    transform: translateY(-5px);
                    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);;
                }
            }
        }

        .logo {
            justify-self: center;

            img {
                border-radius: 50%;
            }
        }

        .buscador {
            padding: 1rem;

            img {
                width: 20px;
                &:hover{
                    transition: 0.5s;
                border-radius: 2px;
                    transform: scale(1.1);
                    background-color: #e5e5e5;
                    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);;
                }
            }

            a:hover{
                background-color: #e5e5e5;
                transition: 0.5s;

            }
        }
    }
   

    
    
}

.menu {background-color: white;
        position: sticky;
        top: 0px;
        z-index: 1;

    .menu-lista {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;

li{padding: 1rem;}


        a {padding: 1rem;
            color: rgba(158, 209, 203, 1);
            border-radius: 5px;
            &:hover{
                background-color: #e5e5e5;
                transition: 0.5s;
                color: #385d47;
            }

        }
    }
}