.main-index {
    display: flex;
    flex-direction: column;

    h2 {
        align-self: center;
    }


    .fotografia-index {
        display: none;
        width: 70%;
        align-self: center;
        margin-bottom: 3rem;

        img {
            width: 100%;
        }
    }

    #carouselExampleIndicators {
        align-self: center;
        width: 100%;
        padding-inline: 5rem;

        .carousel-control-prev {
            z-index: 0;
        }

        .carousel-control-next {
            z-index: 0;
        }

        .carousel-inner {
            .carousel-item {
                img {
                    height: 40rem;
                    border-radius: 20px;
                }
            }
        }
    }

    .info-index {
        display: flex;
        flex-direction: column;

        h2 {
            align-self: center;
        }

        p {
            display: inline-block;
            align-self: center;
            width: 50%;
            font-size: larger;
        }
    }

    .cards {
        display: flex;
        flex-direction: column;

        a {




            &:hover {
                color: rgb(124, 174, 124);
                transition: 0.5s;
                background-color: brown;
            }
        }
    }
}

.main-section {

    display: flex;
    flex-direction: column;


    h2 {
        align-self: center;
    }

    .section-presentacion {
        padding-inline: 25rem;
        display: flex;
        flex-direction: column;

        img {
            border-radius: 2rem;
            width: 100%;
        }

        p {
            padding-top: 3rem;
            font-size: 1.5rem;
            color: $mainColor
        }

    }

    .buscador-section {
        padding-inline: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        h4 {
            font-size: 2rem;
        }

        form {
            display: flex;
            font-size: 2rem;
            line-height: 4rem;

            label {

                font-size: 1.5rem;
                font-weight: 400;
                color: #777777;

            }

            select {
                color: $linkHoverColor;
                font-weight: 200;
                border-width: 1px 1px 3px 1px;
                border-style: solid;
                border-color: #ddd;
                border-radius: 2px;
                -webkit-box-shadow: none;
                box-shadow: none;
                background-color: #fff;
                width: 20rem;
                padding: 0.3rem;


                &:focus {
                    border-color: $mainColor;
                    border-width: 1px 1px 3px 1px;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }

                &:focus-visible {
                    outline: none;
                    border-radius: 3px;
                }

            }
        }
    }
}

.main-contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .info-contacto {

        display: flex;
        justify-content: space-around;
        border-top: solid rgb(75, 75, 75) 1px;
        border-bottom: solid rgb(75, 75, 75) 1px;
        padding-inline: 4rem;
        padding-block: 2rem;
        gap: 2rem;

        .contacto-cuadrito {
            display: flex;
            flex-direction: column;
            align-items: center;

            border-radius: 5px;
            border: solid $mainColor 1px;
            padding: 1rem;

            img {
                width: 1.5rem;
                margin: 0.5rem;
            }

            p {
                font-weight: 500;
            }

            span {
                color: $mainColor;
            }

        }


    }

    .contacto-form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
        align-self: center;
        align-items: center;
        padding: 2rem;

        label {
            font-size: 1.5rem;
            font-weight: 400;
            color: #777777;

            input {
                color: $linkHoverColor;
                font-weight: 200;
                border-width: 1px 1px 3px 1px;
                border-style: solid;
                border-color: #ddd;
                border-radius: 2px;
                -webkit-box-shadow: none;
                box-shadow: none;
                background-color: #fff;
                width: 20rem;
                padding: 0.3rem;


                &:focus {
                    border-color: $mainColor;
                    border-width: 1px 1px 3px 1px;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }

                &:focus-visible {
                    outline: none;
                    border-radius: 3px;
                }

            }

        }


    }

    .comentario {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .comentar {
            color: $linkHoverColor;
            padding: 0.2rem;
            font-weight: 200;
            border-width: 1px 1px 3px 1px;
            border-style: solid;
            border-color: #ddd;
            border-radius: 2px;
            -webkit-box-shadow: none;
            box-shadow: none;
            background-color: #fff;
            margin-bottom: 2rem;

            &:focus {
                border-color: $mainColor;
                border-width: 1px 1px 3px 1px;
                -webkit-box-shadow: none;
                box-shadow: none;
            }

            &:focus-visible {
                outline: none;
                border-radius: 3px;
            }


        }

        button {
            color: $mainColor;
            background-color: rgb(71, 117, 71);

            &:hover {
                color: rgb(71, 117, 71);
                transition: 0.5s;
                background-color: $mainColor
            }
        }

    }

    button {
        font-size: 1.5rem;
        align-self: center;
        color: white;
        background-color: #68c4a1;
        padding-block: 0.5rem;
        padding-inline: 2rem;
        border-radius: 5px;

        &:hover {
            color: rgb(124, 174, 124);
            transition: 0.5s;
            background-color: brown;
        }
    }
}
.btn-volver{
  
   
    
        font-size: 1.5rem;
        align-self: center;
        color: white;
        background-color: #68c4a1;
        padding-block: 0.5rem;
        padding-inline: 2rem;
        border-radius: 5px;

        &:hover {
            color: rgb(124, 174, 124);
            transition: 0.5s;
            background-color: brown;
        }
    
}

.producto-section {
    display: flex;
    flex-direction: column;
    padding: 4rem;

    .mostrador-producto {
        border-radius: 2rem;
        padding: 5rem;
        display: flex;
        border: solid violet 1px;
        background-color: #e7e7e7;
        justify-content: space-around;

        img {
            width: 40rem;
            border-radius: 1rem;
        }

        .prod-detail {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-inline: 2rem;

            .producto-intro {

                .intro-nombre{
                   color:  rgb(237, 133, 227);
                }
                h5 {
                    font-weight: 700;
                    font-size: 2rem;
                }
            }

            .contacto-producto {
                display: flex;
                flex-direction: column;
                padding: 1rem;
                gap: 3px;

                h4 {
                    font-family: 'Comming', sans-serif;
                    font-size: 3rem;
                }

                button {
                    border: 2px black;
                    font-size: 1rem;
                    align-self: center;
                    color: white;
                    background-color: #68c4a1;
                    padding-block: 0.3rem;
                    padding-inline: 1rem;
                    border-radius: 5px;

                    &:hover {
                        color: rgb(33, 82, 33);
                        transition: 0.5s;
                        background-color: rgb(237, 133, 227);
                    }


                }

            }


            .cant-producto-sctn {
                display: flex;
                flex-direction: column;

                p {
                    font-family: 'Comming', sans-serif;
                    font-size: 2rem;

                    span{padding: 1rem;
                        background-color: rgb(207, 212, 44);
                        border-radius: 1rem;
                    }
                }

                .contador {
                    display: flex;
                    justify-content: space-between;



                    button {
                        border: 2px black;
                        font-size: 3rem;

                        align-self: center;
                        color: white;
                        background-color: #68c4a1;

                        padding-inline: 1.5rem;
                        border-radius: 5px;

                        &:hover {
                            color: rgb(33, 82, 33);
                            transition: 0.5s;
                            background-color: rgb(237, 133, 227);
                        }

                    }
                }
            }

            .info-producto {
                display: flex;
                flex-direction: column;

                h5 {
                    font-weight: 700;
                    font-size: 2rem;
                    color: rgb(237, 133, 227);
                }

                p{}
li{

}

            }
        }
    }

}