.main-index {
    display: flex;
    flex-direction: column;

    h2 {
        align-self: center;
    }


    .fotografia-index {
        display: none;
        width: 70%;
        align-self: center;
        margin-bottom: 3rem;

        img {
            width: 100%;
        }
    }

    #carouselExampleIndicators {
        align-self: center;
        width: 100%;
        padding-inline: 5rem;

        @include mobile {
            padding-inline: 2rem;
        }

        .carousel-control-prev {


            z-index: 0;

            @include desktop-carrousel {
                justify-content: end;
            }

            @include tablet-mini {
                left: 2rem;
            }

            @include mobile {
                left: 1rem;
                justify-content: center;

            }
        }

        .carousel-control-next {
            z-index: 0;

            @include desktop-carrousel {
                justify-content: start;
            }

            @include tablet-mini {
                right: 2rem;
            }

            @include mobile {
                right: 1rem;
                justify-content: center;
            }
        }

        .carousel-inner {
            .carousel-item {
                img {
                    height: 40rem;
                    border-radius: 20px;

                    @include tablet-mini {
                        width: 120%;
                        height: 30rem;

                    }

                    @include mobile {
                        width: 100%;
                        height: 25rem;
                    }

                    @include mobile-mini {
                        width: 100%;
                        height: 20rem;
                    }



                }
            }
        }
    }

    .info-index {
        display: flex;
        flex-direction: column;

        @include mobile {
            align-items: center;

        }

        h2 {
            align-self: center;

            @include mobile {
                display: flex;
                justify-content: center;
            }
        }

        p {
            display: inline-block;
            align-self: center;
            width: 50%;
            font-size: larger;
        }
    }

    .cards {
        display: flex;
        flex-direction: column;

        section {
            a {



                &:hover {

                    background-color: none;
                }
            }
        }
    }
}

.main-section {

    display: flex;
    flex-direction: column;
    padding-inline: 2rem;

    @include mobile {
        padding-inline: 0.5rem;
    }


    h2 {
        align-self: center;
    }

    .section-presentacion {
        padding-inline: 15rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
            padding-inline: 10rem;
        }

        @include tablet-mini {
            padding-inline: 5rem;
        }

        @include mobile {
            padding-inline: 2.5rem;
        }

        @include mobile-mini {
            padding-inline: 1rem;
        }


        img {
            border-radius: 2rem;
            width: 100%;
            border: $mainColor solid 1px;
        }

        .instru-compra {}

        p {
            padding-top: 3rem;
            font-size: 1.5rem;
            color: $mainColor
        }

    }

    .buscador-section {
        padding-inline: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        @include mobile {
            flex-direction: column;
        }

        h4 {
            font-size: 2rem;

            @include tablet-mini {
                font-size: 1.5rem;
            }
        }

        form {
            display: flex;
            font-size: 2rem;
            line-height: 4rem;

            @include desktop-mini {
                font-size: 1.5rem;
                line-height: 2rem;
                align-items: center;
            }

            @include tablet-mini {
                flex-direction: column;
            }

            label {

                font-size: 1.5rem;
                font-weight: 400;
                color: $grisletras;

            }

            select {
                color: $buttonHoverColor;
                font-weight: 200;
                border-width: 1px 1px 3px 1px;
                border-style: solid;
                border-color: $menuColor;
                border-radius: 2px;
                -webkit-box-shadow: none;
                box-shadow: none;
                background-color: #fff;
                width: 20rem;
                padding: 0.3rem;

                @include tablet {
                    width: 15rem;
                }

                @include mobile-mini {
                    width: 12rem;
                }


                &:focus {
                    border-color: $mainColor;
                    border-width: 1px 1px 3px 1px;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }

                &:focus-visible {
                    outline: none;
                    border-radius: 3px;
                }

            }
        }
    }
}

.main-contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;

   

    .info-contacto {

        display: flex;
        justify-content: space-around;
        border-top: solid rgb(75, 75, 75) 1px;
        border-bottom: solid rgb(75, 75, 75) 1px;
        padding-inline: 4rem;
        padding-block: 2rem;
        gap: 2rem;

        @include tablet{
            flex-direction: column;
            width: 100%;
            align-items: center;
            gap: 1rem;
        }

        .contacto-cuadrito {
            display: flex;
            flex-direction: column;
            align-items: center;

            border-radius: 5px;
            border: solid $mainColor 1px;
            padding: 1rem;

            @include tablet{
               width: 20rem;
            }
            @include mobile-mini{
                width: 15rem;
            }

            img {
                width: 1.5rem;
                margin: 0.5rem;
            }

            p {
                font-weight: 500;
            }

            a {
                span {
                    &:hover {
                        color: $buttonHoverColor;
                    }
                }
            }

            span {
                color: $mainColor;

            }



        }


    }

    .contacto-form {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        align-items: center;
        justify-content: center;
        padding: 2rem;

        @include tablet{
            padding: 0;

        }

        label {
            font-size: 1.5rem;
            font-weight: 400;
            color: $grisletras;

            input {
                color: $buttonHoverColor;
                font-weight: 200;
                border-width: 1px 1px 3px 1px;
                border-style: solid;
                border-color: $menuColor;
                border-radius: 2px;
                -webkit-box-shadow: none;
                box-shadow: none;
                background-color: #fff;
                width: 20rem;
                padding: 0.3rem;

                @include mobile-mini{
                    width: 15rem;
                }


                &:focus {
                    border-color: $mainColor;
                    border-width: 1px 1px 3px 1px;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }


                &:focus-visible {
                    outline: none;
                    border-radius: 3px;
                }

            }

        }

        .comentario {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            .comentar {
                color: $buttonHoverColor;
                padding: 0.2rem;
                font-weight: 200;
                border-width: 1px 1px 3px 1px;
                border-style: solid;
                border-color: $menuColor;
                border-radius: 2px;
                -webkit-box-shadow: none;
                box-shadow: none;
                background-color: #fff;
                margin-bottom: 2rem;

                @include tablet{
                  width: 40rem;
                }
                @include tablet-mini{
                  width: 32rem;
                }
                @include mobile{
                    width: 20rem;
                }
                @include mobile-mini{
                    width: 15rem;
                }

                &:focus {
                    border-color: $mainColor;
                    border-width: 1px 1px 3px 1px;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }

                &:focus-visible {
                    outline: none;
                    border-radius: 3px;
                }


            }

            button {
                border: none;
                font-size: 1rem;
                align-self: center;
                color: $mainColor;
                background-color: $linkHoverColor;
                padding-block: 0.3rem;
                padding-inline: 1rem;
                border-radius: 5px;

                &:hover {
                    color: $linkHoverColor;
                    transition: 0.5s;
                    background-color: $mainColor;
                }
            }

        }

    }




}

.btn-volver {



    font-size: 1.5rem;
    align-self: center;
    color: $mainColor;
    background-color: $linkHoverColor;
    padding-block: 0.5rem;
    padding-inline: 2rem;
    border-radius: 5px;

   
    @include tablet{
        padding-block: 0.5rem;
        padding-inline: 1rem;
    }
   
    @include mobile{
        font-size: 1rem;
        padding-block: 0.5rem;
        padding-inline: 0.5rem;
    }

    &:hover {
        color: $linkHoverColor;
        transition: 0.5s;
        background-color: $mainColor;
        border: solid $buttonHoverColor 2px;
    }

}

.related-prods {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    justify-items: center;

    .related-prod-sctn {
        display: grid;
        align-self: flex-start;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-inline: 2rem;
        width: 75%;
        gap: 0rem;
        justify-items: center;
        align-items: center;

        @include desktop-mini{
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            justify-items: center;

        }
        @include tablet{
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            justify-items: center;
        }
        @include tablet-mini{
            grid-template-columns: repeat(1, 1fr);
            align-items: center;
            justify-items: center;
            padding: 0;
            width: 100%;
        }

        .card-related {
            display: flex;
            flex-direction: column;
            border-radius: 0.5rem;
            align-items: center;
            width: 15rem;
            padding: 1rem;

            &:hover {
                transition: 0.5s;
                transform: scale(1.02);
                transform: translateY(-5px);
                box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);

            }



            img {
                width: 12rem;
                height: 10rem;
                border-radius: 5px;

            }

            .related-info {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                h3 {
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: $mainColor;
                }

                h5 {
                    font-size: 1.5rem;

                }

                p {}
            }
        }

    }
}


.producto-section {
    display: flex;
    flex-direction: column;
    padding: 0rem;
    margin: 2rem;
    border: solid $mainColor 1px;
    border-radius: 2rem;
    width: 90vw;
    align-self: center;


    .producto-tit {
        background-color: $fondogris;
        padding-block: 0.5rem;
        padding-inline: 2rem;
        margin: 0rem;
        font-size: 3rem;
        line-height: 3rem;
        border-radius: 2rem 2rem 0rem 0rem;

        
        @include mobile{
            font-size: 2rem;
            line-height: 2rem;
        }
    }

    .dir-producto {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        color: $grisletras;
        font-weight: 900;
        padding-inline: 3rem;
        padding-block: 0.5rem;

        @include mobile{
            padding-inline: 1rem;
        padding-block: 0.5rem;
           }


        a {
            font-size: 1rem;
            padding: 0rem;
            color: $grisletras ;
            border-radius: 5px;

            &:hover {

                transition: 0.5s;
                color: $buttonHoverColor;
            }

        }

    }

    .mostrador-producto {
        padding-bottom: 1rem;
        display: flex;
        padding-inline: 3rem;

        justify-content: space-evenly;

        @include tablet{
            flex-direction: column;
            align-items: center;
            padding-inline: 1rem;
        }

        img {
            padding: 0.2rem;
            width: 30rem;

            border: solid $menuColor 1px;
           @include desktop-mini{
            height: 30rem;
           }

           @include mobile{
            width: 100%;
            height: 25rem;
           }
           @include mobile-mini{
            width: 100%;
            height: 15rem;
           }
        }

        .prod-detail {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-inline: 2rem;

            @include tablet{
               
                padding-inline: 1rem;
            }


            .producto-intro {
                width: 100%;

                .intro-nombre {
                    width: 100%;
                    color: $mainColor;
                    margin: 0;
                    border-bottom: solid $mainColor 2px;
                    font-size: 2rem;
                }

                .prod-form {
                    display: flex;
                    flex-direction: column;


                    .prod-form-in {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        width: 100%;

                        label {
                            font-size: 1.5rem;

                            @include mobile{
                                font-size: 1rem;
                            }
                        }


                        select {
                            padding: 0.5rem;
                            font-size: 1.5rem;
                            width: 100%;
                            border-radius: 5px;
                            color: $buttonHoverColor;
                            border-width: 1px 1px 3px 1px;
                            -webkit-box-shadow: none;
                            box-shadow: none;
                            background-color: #fff;

                            @include mobile{
                                font-size: 1rem;
                                line-height: 1rem;
                            }


                            &:focus {
                                border-color: $mainColor;
                                border-width: 1px 1px 3px 1px;
                                -webkit-box-shadow: none;
                                box-shadow: none;
                            }

                            &:focus-visible {
                                outline: none;
                                border-radius: 3px;
                            }
                        }

                        input {
                            padding: 0.5rem;
                            font-size: 1.5rem;
                            font-weight: 500;
                            border-radius: 5px;
                            border-style: solid;
                            width: 100%;
                            color: $buttonHoverColor;
                            border-width: 1px 1px 3px 1px;
                            -webkit-box-shadow: none;
                            box-shadow: none;
                            background-color: #fff;

                            
                            @include mobile{
                                font-size: 1rem;
                                line-height: 1rem;
                            }


                            &:focus {
                                border-color: $mainColor;
                                border-width: 1px 1px 3px 1px;
                                -webkit-box-shadow: none;
                                box-shadow: none;
                            }

                            &:focus-visible {
                                outline: none;
                                border-radius: 3px;
                            }
                        }
                    }
                }

                .prod-total-price {
                    color: $buttonHoverColor;
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                    padding: 0.2rem;
                    width: 100%;

                    h4 {
                        font-size: 1.8rem;
                        color: $buttonHoverColor;
                        font-weight: 900;
                        margin: 0;

                        span {
                            font-size: 0.8rem;
                        }
                    }

                    P {
                        font-size: 1rem;
                        margin: 0;
                        letter-spacing: 2px;
                        font-weight: 600;
                        color: $grisletras;
                    }
                }

                .contacto-producto {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 0.2rem;
                    gap: 3px;

                    h4 {
                        font-family: 'Comming', sans-serif;
                        font-size: 3rem;
                        margin: 0;

                        @include mobile{
                            font-size: 2rem;
                        }
                    }

                    button {
                        border: 2px black;
                        font-size: 1rem;
                        align-self: center;
                        color: $mainColor;
                        background-color: $linkHoverColor;
                        padding-block: 0.3rem;
                        padding-inline: 1rem;
                        border-radius: 5px;

                        &:hover {
                            color: $linkHoverColor;
                            transition: 0.5s;
                            background-color: $mainColor;
                        }


                    }

                    .user-form {
                        display: flex;
                        flex-direction: column;
                        padding: 1rem;


                        p {
                            font-size: 1.2rem;
                            line-height: 1rem;
                            color: $mainColor;

                        }

                        form {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            gap: 0.3rem;


                            label {
                                font-size: 1rem;
                                font-weight: 400;
                                color: $grisletras;

                                input {
                                    color: $buttonHoverColor;
                                    font-weight: 200;
                                    border-width: 1px 1px 3px 1px;
                                    border-style: solid;
                                    border-color: $menuColor;
                                    border-radius: 2px;
                                    -webkit-box-shadow: none;
                                    box-shadow: none;
                                    background-color: #fff;
                                    width: 10rem;
                                    padding: 0.3rem;


                                    &:focus {
                                        border-color: $mainColor;
                                        border-width: 1px 1px 3px 1px;
                                        -webkit-box-shadow: none;
                                        box-shadow: none;
                                    }

                                    &:focus-visible {
                                        outline: none;
                                        border-radius: 3px;
                                    }

                                }
                            }

                            button {}
                        }
                    }

                }

            }






            .info-producto {
                display: flex;
                flex-direction: column;

                h5 {
                    font-weight: 700;
                    font-size: 2rem;
                    color: $mainColor;
                    margin: 0;
                }

                h4 {
                    color: $mainColor;
                    margin: 0;
                }

                p {
                    margin: 0;
                }

                li {
                    margin: 0;
                }

            }
        }
    }

}